* {

  box-sizing: border-box;
}



body {
  background-color: #f4f4f4;
  font-family: 'Roboto', sans-serif;
  margin: 0;

}

img {
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 15px;
}

@media(max-width: 1200px){
  .container {
    max-width: 830px;
  }
}

@media(max-width: 829px){
  .container {
    max-width: 600px;
  }
}

.row {
  display: flex;
  justify-content: space-between;

}

.main {
  width: 870px;


}

.sidebar {
  width: 270px;
  min-width: 200px;

}

@media(max-width: 829px){
  .sidebar {
    /*display: none;*/
    margin-left: 0 !important;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 0px 20px 4px rgb(0 0 0 / 37%);
    overflow-y: scroll;
    transform: translateX(-150%);
    transition: transform 0.4s ease-in;
  }
  
  .sidebar--mobile-active {
     transform: translateX(-0%);
  }
}

.main + .sidebar {
  margin-left: 30px;
}

.card-link {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.cards-holder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media(max-width: 599px){
  .cards-holder {
    flex-direction: column;
    align-items: center;
  }
}

.cards-holder > .card-link {
  margin-bottom: 30px;
}

.card-link--hidden {
  display: none !important;
}

a.card-link:hover {
  opacity: 0.9;
  transform: translateY(-5px);
}

.card {
  position: relative;
  background-color: #fff;
  width: 270px;
}

.card__badges {
  position: absolute;
  top: 10px;
  left: 15px;
  right: 15px;
  display: flex;

}



.card__badges > * + * {
  margin-left: 10px;
}

.card__badge {
  display: inline-block;
  border-radius: 4px;
  height: 22px;
  padding: 0 10px;

  font-size: 14px;
  line-height: 23px;
  color: #000;
}

.card__badge--class {
  background: #FFCF26;
}

.card__badge--credit {
  background: #11be75;
  color: #fff;
}

.card__content {
  padding: 16px 17px 20px;
}

.card__title {
  margin: 0;
  margin-bottom: 11px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.16;
  color: #000;
}

.card__term {
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 1.14;
  color: #000;

}

.card__metro {
  margin-bottom: 11px;
  font-size: 13px;
  line-height: 1.14;
  font-weight: bolder;
  color: #000;
}

.card__metro::before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: baseline;
  width: 16px;
  height: 11px;
  background-image: url(../icons/Vector.svg);
  background-repeat: no-repeat;
  background-size: initial;

}

.card__address {
  font-size: 14px;
  line-height: 1.14;
  color: #777777;
}

.btn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #e5e5e5;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  color: #4290c9;
  line-height: 21px;
  border: none;
  transition: background-color 0.2s ease-in;

}

.btn-more:hover {
  background-color: #d8d8d8;
}

.btn-more img {
 
  margin-right: 10px;
}

.widget + .widget {
  
  margin-top: 33px;
}

.widget__title {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.16;
  color: #000;
  margin-bottom: 21px;
  cursor: pointer;
}

.widget__title::after {
  content: "";
  width: 20px;
  height: 20px;
  /*background-color: red;*/
  position: absolute;
  right: 1px;
  top: -1px;
  background-image: url("../icons/chevron-up.svg");
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;

}

.widget__title--active::after {
  
  transform: rotate(180deg);
}

.widget__body--hidden {
  display: none;
}

widget__body {
  
  
}



.location__row {
  display: flex;
}

.location__row:first-child {
  overflow: hidden;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid #d6d6d6;
  border-bottom: none;
}

.location__row:last-child {
  overflow: hidden;
  border-radius: 0px 0px 4px 4px;
  border: 1px solid #d6d6d6;
  
}

.location__btn {
  font-family: inherit;
  flex-grow: 1;
  height: 48px;
  padding: 0 14px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 50px;
  color: #3c3c3c;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.location__btn:hover {
  background-color: #ffd0268c;
}

.location__checkbox {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}

.location__checkbox:checked + .location__btn {
  background-color: #ffcf26;
}

.location__checkbox:checked + .location__btn:hover {
  background-color: #a68308;
}

.radio {
  display: block;
  cursor: pointer;
}

.radio + .radio {
  margin-top: 15px;
}

.radio__real:checked ~ .radio__title {
  font-weight: 500;
}

.radio__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #000;
}

.radio__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}

.radio__real:checked + .radio__fake {
  
  background-color: #ffe074;
}

.radio__real:checked + .radio__fake::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background: #3c3c3c;
  transform: translate(-50%, -50%);
}

.radio__fake {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #777777;
  margin-right: 7px;
  vertical-align: bottom;
  
}

.checkbox {
  display: block;
  cursor: pointer;
}

.checkbox--hidden {
  display: none;
}

.checkbox + .checkbox {
  margin-top: 15px;
}

.checkbox__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
}

.checkbox__fake {
  display: inline-block;
  position: relative;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid #777777;
  margin-right: 7px;
  vertical-align: bottom;
  
}

.checkbox__real:checked + .checkbox__fake {
  background-color: #ffe074;
}

.checkbox__real:checked + .checkbox__fake::before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 18px;
  height: 18px;
  transform: translate(-50%, -50%);
  
  background-image: url("../icons/check.svg");
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
}

.checkbox__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #000;
}

.checkbox__real:checked ~ .checkbox__title {
  font-weight: 500;
}

 .widget__hidden {
  display: none;
 }

.widget__show-hidden {
  display: inline-block;
  border: none;
  
  padding: 0;
  background: transparent;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  color: #4290c9;
  margin-top: 15px;
  cursor: pointer;
  transition: color 0.2s ease-in;
}

.widget__show-hidden:active, .widget__show-hidden:focus {
  outline: none;
}

.widget__show-hidden:hover {
  color: #00cfda;
  text-decoration: underline;
}

.widget--top-30 {
  margin-top: 30px !important;
}

.toggle {
  cursor: pointer;
}

.toggle__real {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  appearance: none;
  
}

.toggle__fake  {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 37px;
  height: 20px;
  background: #c4c4c4;
  border-radius: 7px;
  vertical-align: bottom;
  
}

.toggle__fake::before {
  position: absolute;
  top: 2px;
  left: 2px;
  content: "";
  width: 16px;
  height: 16px;
  background: #3c3c3c;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.toggle__real:checked + .toggle__fake {
  
  background: #ffe074;
}

.toggle__real:checked + .toggle__fake::before {
  left: 19px;
/*  right: 2px;*/
}

.toggle__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #000;
}

.toggle__real:checked ~ .toggle__title {
  font-weight: 500;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  font-family: inherit;
  background: transparent;
  text-align: center;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  cursor: pointer;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  transition: background-color 0.2s ease-in;
}

.form-btn:hover {
  background-color: #e7e7e7;
}

.form-btn img {
  /*display: inline-block;*/
/*  vertical-align: middle;*/
  margin-top: -2px;
  /*margin-right: 6px;*/
}

.form-btn + .form-btn {
  margin-top: 10px;
}

.form-btn--submit {
  background-color: #FFCF26;
  border: none;
  color: #000;
}

.form-btn--submit:hover {
  background-color: #ffe173;
}

.toggle-sidebar {
  display: none;
  position: fixed;
  z-index: 10;
  right: 15px;
  top: 8px;
  width: 45px;
  height: 45px;
  border: none;
  background-color: rgb(71, 71, 71);
  justify-content: center;
  align-items: center;
 
}

@media(max-width: 829px){
  .toggle-sidebar {
    display: flex;
  }
}

.menu-icon-wrapper {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: top 0.2s linear 0.2s, transform 0.2s ease-in;
}

.menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  width: 30px;
  height: 5px;
  background-color: #fff;
  transition: top 0.2s linear 0.2s, transform 0.2s ease-in;
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #fff;
}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}




